@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  background-color: #20232a;
}

.headerLogo {
  width: 3rem;
  padding-right: 0.5rem;
}

nav {
  display: flex;
  justify-content: center;
  height: 3rem;
  align-items: center;
  font-weight: 500;
  padding: 2.2rem;
}
.navList {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.navItem {
  padding: 1rem;
  list-style-type: none;
  text-align: center;
}
.navItem a {
  text-decoration: none;
  color: white;
}
.navItem a:hover {
  text-decoration: underline;
}

body {
  background-color: #282c34;
  color: white;
  font-family: "Open Sans", sans-serif;
}

.titleContent {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.nameTitle {
  color: #749e33;
}

h1 {
  margin: 1rem;
  margin-top: 3rem;
  font-family: "Open Sans", sans-serif;
  font-size: 3.3rem;
  font-weight: 800;
  text-align: center;
}

p {
  font-size: 1.1rem;
  font-weight: 500;
  line-height: 1.7rem;
  width: 80%;
  margin: auto;
  padding-top: 0.8rem;
}

h2 {
  text-align: center;
  margin-top: 4rem;
  font-size: 2.4rem;
}

.techList {
  display: flex;
  justify-content: center;
}

.techList li {
  margin: 2rem;
  font-size: 1.2rem;
}
.techList li a {
  color: white;
  text-decoration: none;
}

@media (max-width: 600px) {
}
